* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
}
body {
  font-family: "Rubik", sans-serif;
}
.logo {
  font-size: 24px;
}

.header {
  background-color: rgb(95, 2, 95);
  color: white;
  padding-bottom: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.hero {
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 16px;
}
.hero > div {
  flex: 1;
}
.hero-text .main-text {
  font-size: 48px;
  font-weight: 900;
}
.hero-text .secondary-text {
  font-size: 18px;
  margin-top: 8px;
}
.hero-image {
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}
.hero-image img {
  width: 100%;
  height: auto;
}

.hero-button {
  background-color: rgb(255, 223, 70);
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px 24px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
}

/* PRODUCTS SECTION STYLE */
.products {
  margin: 100px 0;
  color: #222;
}
.products-header {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}
.products-cards {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.products-cards .card {
  width: 150px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products-cards .card .card-img {
  background-color: #222;
  flex: 1;
  overflow: hidden;
  border-radius: 8px;
}
.products-cards .card .card-img img {
  width: 100%;
  height: auto;
}
.products-cards .card .card-text {
  text-align: center;
  padding: 8px 0;
}

/* Testimonial Section Style */
.testimonial {
  background-color: #eee;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
.content {
  width: 70%;
}
.content .text {
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  text-align: justify;
}
.content .author {
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}

/* CTA Section Style */
.call-to-action {
  margin: 100px 0;
}
.call-to-action .content {
  background-color: rgb(250, 217, 52);
  padding: 30px 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta-button {
  font-size: 16px;
  padding: 8px 16px;
}

/* Footer Section Style */
.footer {
  background-color: rgb(95, 2, 95);
  padding: 30px;
  color: white;
  text-align: center;
}
