* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
}
body {
  font-family: "Rubik", sans-serif;
}
.logo {
  font-size: 24px;
}

.header {
  background-color: rgb(95, 2, 95);
  color: white;
  padding-bottom: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.hero {
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 16px;
}
.hero > div {
  flex: 1;
}
.hero-text .main-text {
  font-size: 48px;
  font-weight: 900;
}
.hero-text .secondary-text {
  font-size: 18px;
  margin-top: 8px;
}
.hero-image {
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}
.hero-image img {
  width: 100%;
  height: auto;
}
.hero-button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px 24px;
  font-family: inherit;
  background-color: rgb(255, 223, 70);
  font-size: 18px;
  font-weight: 500;
}
